aclocal.m4
autoconf.mk
autom4te.cache/
config.log
config.status
configure
doc/fix-qdf.1
doc/qpdf.1
doc/zlib-flate.1
examples/build/
libqpdf.pc
libqpdf/build/
libqpdf/qpdf/qpdf-config.h
libqpdf/qpdf/qpdf-config.h.in
libtests/build/
libtool
manual/html.xsl
manual/print.xsl
qpdf/build/
zlib-flate/build/
