# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/inspectionProfiles
# We use CMakePresets.json. Don't check in cmake profiles.
/cmake.xml
